@font-face {
    font-family: font;
    src: url("../../Font/BRoya.ttf");
}

body {
    background-color: #006ca1;
    color: white;
    font-family: font;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
} 

.maindiv {
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #006ca1;
    text-align: center;
}

form {
    margin-top: 30px;
}

input {
    display: block;
}

input[type="text"] {
    width: 240px;
    height: 40px;
    color: #006ca1;
    border : 0px ;
    border-bottom: 1px solid #006ca1;
    font-family: font;
    margin-bottom: 10px;
    font-size: 1.03em;
    padding: 5px;
    outline: none;
    transition: .5s;
}

input[type="text"]:focus {
    border-radius: 15px;
    border: 1px solid #006ca1;
}

::placeholder {
    color: #006ca1;
}

button {
    background-color: #006ca1;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 50px;
    font-family: font;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
} 

button:hover{
    background-color: white;
    border: 2px solid #006ca1;
    color: #006ca1;
}

select {
    width: 130px;
    border-radius: 25px;
    font-family: font;
    font-size: 1.1em;
    margin-top: 15px;
    padding: 5px;
    box-sizing: border-box;
}